/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  border: 1px solid white;
  border-radius: 2px;
  width: 95%;
  height: 25px;
  margin: 10px 10px 10px 1px;
  padding: 10px 10px 10px 15px;
}
